{% extends 'base.html' %}
{% block content %}
{% load compress %}
<form method="POST" id="mf" action="{% url 'horario_consulta_query' %}">
    {% csrf_token %}
    <div id="msg" style="color:red"></div>
    <div id="wng"></div>
    {% if error_msg %}
    <div class="alert alert-danger">{{error_msg}}</div>
    {% endif %}
    <div class="row align-items-center">
        <div class="col-md-4 col-sm-12">
            <button type="button" onclick="window.location.href='{% url 'paciente_home' %}'" class="btn-g">Nuevo paciente</button>
        </div>
        <div class="col-md-8" style="text-align: right">
            Fecha de consulta:
            <input type="text" class="fc text-center" id="id_vdate" name="vdate" placeholder="dd/mm/yyyy" value="{{ day }}"
                style="margin-left:5px" />
            <button type="button" id="qb" class="btn-g">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Horarios de consulta reservados</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Horario</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody style="background:#fff" id="tb">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col">
            <h5>Horarios disponibles</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Horario</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody style="background:#fff" id="tbd">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mnp" tabindex="-1" role="dialog" aria-labelledby="tp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="tp" style="font-weight:bold"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="psl" class="form-control">
                        {% if pac_list %}
                            {% for p in pac_list %}
                                <option value="{{p.id}}">{{p.nombre}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="id_hor"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="spo()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mnp" tabindex="-1" role="dialog" aria-labelledby="tp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="tp" style="font-weight:bold"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="psl" class="form-control">
                        {% if pac_list %}
                            {% for p in pac_list %}
                                <option value="{{p.id}}">{{p.nombre}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="id_hor"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="spo()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="del_div" tabindex="-1" role="dialog" aria-labelledby="deltp" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="del_div_body"></div>
                    <div style="padding-bottom: 10px;padding-right: 15px;text-align: right;">
                        <input type="hidden" id="id_hor_del"/>
                        <button type="button" class="btn btn-primary" onclick="del_hor_ef()" style="margin-right:10px">Si</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
{% compress js inline%}
<script>
    function del_hor(id_hor, name, ini, end){
        $('#del_div_body').empty().append('¿Esta seguro que desea eliminar la reserva de ' + name + ' que esta de ' + ini + ' a ' + end + '?');
        $('#del_div').modal();
        $('#id_hor_del').val(id_hor);
    }

    function del_hor_ef(){
        flag = validate();
        if(flag){
            var param = {id_hor_delete : $('#id_hor_del').val(), vdate : $('#id_vdate').val(), csrfmiddlewaretoken: '{{ csrf_token }}'};
            $.ajax({
                type: 'POST',
                url: '{% url 'horario_delete_pac' %}',
                data: param,
                dataType: 'json'
            }).done(function(data){
                display_show_msg(data);
                $('#del_div').modal('hide');
            });
        }
    }

    function display_show_msg(data){
        $('#wng').empty().append(data.msg);
        if(data.type == 'error'){
            $('#wng').addClass('alert alert-danger');
        }else if(data.type == 'warning')
            $('#wng').addClass('alert alert-warning');
        else{
            if(data.msg != null && data.msg != '')
                $('#wng').addClass('alert alert-success');
            data_or_error(data.horario_list);
            data_or_error_disp(data.dispo_hor_list);
        }
    }

    function spo(){
        var id_hor = $('#id_hor').val();
        var id_pac = $('#psl').val();
        var vdate = $('#id_vdate').val();
        flag = validate();
        if(flag){
            $.ajax({
                type: 'POST',
                url: '{% url 'horario_save_pac' %}',
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    id_hor: id_hor,
                    id_pac: id_pac,
                    vdate: vdate    
                },
                dataType: 'json'
            }).done(function(data){
                $('#mnp').modal('hide');
                display_show_msg(data);
            });
        }else
            $('#mnp').modal('hide');
    }
    $(function () {
        $.ajax({
            type: 'POST',
            url: '{% url 'horario_cons_today' %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json'
        }).done(function (data) {
            display_show_msg(data);
        });
    });

    function data_or_error(data) {
        if (!$.isEmptyObject(data.error_msg)) {
            $('#wng').addClass('alert alert-danger');
            $('#wng').empty().append(data.error_msg);
        } else
            getTbody(data);
    }

    function data_or_error_disp(data) {
        if (!$.isEmptyObject(data.error_msg)) {
            $('#wng').addClass('alert alert-danger');
            $('#wng').empty().append(data.error_msg);
        } else
            getTbodyDisp(data);
    }

    function sm(id, i, ini, end){
        document.getElementById('mnp').id = 'mnp' + i;
        $('#mnp' + i).modal();
        $('#id_hor').val(id);
        $('#tp').empty().append('Agregar paciente: ' + ini + ' - ' + end);
        document.getElementById('mnp' + i).id = 'mnp';
    }

    function getTbodyDisp(data) {
        row = jQuery.parseJSON(data);
        $('#tbd').empty();
        var tr = ''
        var size = row.length;
        if (size > 0) {
            var ini, end;
            for (i = 0; i < size; i++) {
                ini = String(row[i].fields.inicio).split(',');
                end = String(row[i].fields.fin).split(',');
                tr += '<tr><td>' + ini[0].substring(0, 5) + ' - ' + end[0].substring(0, 5) + '</td><td class="text-center"><a href="javascript:sm(\'' + row[i].pk + '\',\''+i+'\', \'' + ini[0].substring(0, 5) + '\', \'' + end[0].substring(0, 5) + '\')">[Agregar paciente]</a></td></tr>';
            }
        } else
            tr = '<tr><td colspan="2" class="text-center">No hay cupos disponibles</td></tr>';
        $('#tbd').html(tr);
    }

    function getTbody(data) {
        row = jQuery.parseJSON(data);
        $('#tb').empty();
        var tr = '';
        var size = row.length;
        if (size > 0) {
            var t, state;
            for (i = 0; i < size; i++) {
                t = String(row[i].fields.id_horario).split(',');
                if(row[i].fields.efectiva == 'N')
                    state = '<font style="color:#e8ae00;font-weight:bold">Pendiente</font>';
                else if(row[i].fields.efectiva == 'S')
                    state = '<font style="color:green;font-weight:bold">Efectuada</font>';
                tr += '<tr><td>' + t[0].substring(0, 5) + ' - ' + t[1].substring(0, 5) + '</td><td>' + row[i].fields.id_paciente + '</td><td>' + state + '</td><td class="text-center"><a href="#">[Ir a consulta]</a> - <a href="javascript:del_hor(\'' + row[i].pk+ '\', \'' + row[i].fields.id_paciente + '\', \'' + t[0].substring(0, 5) + '\', \'' + t[1].substring(0, 5) + '\')">[Eliminar]</a></td></tr>';
            }
        } else
            tr = '<tr><td colspan="4" class="text-center">No hay citas para este d&iacute;a</td></tr>';
        $('#tb').html(tr);
    }

    $(document).ready(function () {
        $('#qb').click(function (event) {
            flag = validate();
            if (flag) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'horario_consulta_query' %}',
                    data: $('#mf').serialize(),
                    dataType: 'json'
                }).done(function (data) {
                    display_show_msg(data);
                });
            }
        });
    });

    function validate() {
        $('#wng').empty().removeClass('alert alert-warning');
        var d = $('#id_vdate').val();
        if (d == '') {
            $('#wng').addClass('alert alert-warning');
            $('#wng').empty().append('El campo fecha esta vacio, debe ingresar una fecha valida (formato DD/MM/YYYY)');
            return false;
        }
        if (isDate(d))
            return true;
        else {
            $('#wng').addClass('alert alert-warning');
            $('#wng').empty().append('El formato de la fecha es incorrecto, debe ser DD/MM/YYYY');
            return false;
        }
        return true;
    }

</script>
{% endcompress %}
{% endblock %}