{% extends 'base.html' %}
{% block content %}
{% load compress %}
<form method="POST" id="mf" action="{% url 'horario_consulta_query' %}">
    {% csrf_token %}
    <div id="msg" style="color:red"></div>
    {% if error_msg %}
        <div style="color:red">{{error_msg}}</div>
    {% endif %}
    <div class="row align-items-center">
        <div class="col-md-4 col-sm-12">
            <button type="submit" class="btn-g">Nuevo paciente</button>
            <button type="submit" class="btn-g">Nueva cita</button>
        </div>
        <div class="col-md-8" style="text-align: right">
            Fecha de consulta:
            <input type="text" class="fc text-center" id="id_vdate" name="vdate" placeholder="dd/mm/yyyy" value="{{ day }}" style="margin-left:5px"/>
            <button type="submit" id="qb" class="btn-g">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Horario</th>
                    <th scope="col">Paciente</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody style="background:#fff">
                {%if horario_list%}
                {% for h in horario_list %}
                    <tr>
                    <td>{{ h.id_horario.inicio }} - {{ h.id_horario.fin }}</td>
                    <td>{{ h.id_paciente.nombre }}</td>
                    <td class="text-center">[Ir a consulta]</td>
                    </tr>
                {%endfor%}
                {% else %}
                    <tr><td colspan="3" class="text-center">No hay citas para este d&iacute;a</td></tr>
                {%endif%}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div id="a"></div>
</form>
{% endblock %}
{% block javascript %}
    
<script>
    $(document).ready(function () {
        $('#mf').submit(function (event) {
            $.ajax({
                type: 'POST',
                url: '{% url 'horario_consulta_query' %}',
                data: $('#mf').serialize()
            }).done(function (data) {
                alert(data);
            });
            event.preventDefault();
        });
    });
</script>
{% endblock %}