<div class="row" style="margin-bottom:18px">
    <div class="col">
        <label for="talla">Talla:</label>
        <input type="text" class="form-control" id="id_talla" name="talla" autofocus placeholder="En metros"/>
    </div>
    <div class="col">
        <label for="peso">Peso:</label>
        <input type="text" class="form-control" id="id_peso" name="peso" placeholder="En libras"/>
    </div>
    <div class="col">
        <label for="presion_art">Presi&oacute;n arterial:</label>
        <input type="text" class="form-control" id="id_presion_art" name="presion_art"/>
    </div>
</div>
<div class="form-group">
    <label for="problema">Definici&oacute;n de problema *:</label>
    <textarea id="id_problema" class="form-control" placeholder="Escriba la raz&oacute;n de la consulta" name="problema"></textarea>
</div>
<div class="form-group">
    <label for="diagnostico">Diagn&oacute;stico del paciente *:</label>
    <textarea id="id_diagnostico" class="form-control" placeholder="Escriba el/los diagn&oacute;stico(s) del paciente" name="diagnostico"></textarea>
</div>
<div class="form-group">
    <label for="tratamiento">Tratamiento recomendado *:</label>
    <textarea id="id_tratamiento" class="form-control" placeholder="Escriba los tratamientos recomendados" name="tratamiento"></textarea>
</div>
<div class="form-group">
    <label for="recomendacion">Recomendaciones:</label>
    <textarea id="id_recomendacion" class="form-control" placeholder="Escriba las recomendaciones que sugiere en base a la consulta" name="recomendacion"></textarea>
</div>
<div class="form-group">
    <button type="button" class="btn-g" id="upd_btn" onclick="save_form()">Guardar</button>
</div>