{% extends 'base.html' %}
{% block content %}
{% load compress %}
<div class="row" style="font-weight:bold;margin-bottom:15px">
    <div class="col-6">
        Paciente: {{consulta.id_paciente.nombre}}
    </div>
    <div class="col-6" style="font-weight:bold; text-align:right">
        {{consulta.id_horario.id_horario.inicio}} a {{consulta.id_horario.id_horario.fin}}
    </div>
</div>
<form method="POST" id="mf">
    <div class="row">
        <div class="col">
            <div id="msg"></div>
            {% if msg and type == "error" %}
                <div id="msg_error" class="alert alert-danger">{{msg}}</div>
            {% endif %}
        </div>
    </div>
    {% csrf_token %}
    <input type="hidden" value="{{consulta.id}}" id="id_id" name="id"/>
    <input type="hidden" value="{{consulta.id_horario.id}}" id="id_id_horario" name="id_horario"/>
    <input type="hidden" value="{{consulta.id_paciente.id}}" id="id_id_paciente" name="id_paciente"/>
    <input type="hidden" value="{{consulta.id_medico.id}}" id="id_id_medico" name="id_medico"/>
    <ul class="nav nav-pills mb-4" style="border-bottom:2px solid #0000002e;" id="tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">Datos generales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Medicamentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Examenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">Referencias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-5-tab" data-toggle="pill" href="#pills-5" role="tab" aria-controls="pills-5" aria-selected="false">Historial</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
            {% include 'datos_generales.html' %}
        </div>
        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">...</div>
        <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">...</div>
        <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">ref</div>
        <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">historial</div>
    </div>
</form>
{% endblock %}
{% block javascript %}
{% compress js inline%}
<script>
    $(function() {
        $('#id_problema').val('{{consulta.problema | default_if_none:""}}')
        $('#id_diagnostico').val('{{consulta.diagnostico | default_if_none:""}}');
        $('#id_tratamiento').val('{{consulta.tratamiento | default_if_none:""}}');
        $('#id_recomendacion').val('{{consulta.recomendacion | default_if_none:""}}');
        $('#id_talla').val('{{consulta.talla | default_if_none:""}}');
        $('#id_peso').val('{{consulta.peso | default_if_none:""}}');
        $('#id_presion_art').val('{{consulta.presion_art | default_if_none:""}}');
    });
    function save_form(){
        inputs = ['id_problema', 'id_diagnostico', 'id_tratamiento', 'id_talla', 'id_peso', 'id_presion_art'];
		reset_validate_form(inputs);
        var problema = $('#id_problema').val();
        var diagnostico = $('#id_diagnostico').val();
        var tratamiento = $('#id_tratamiento').val();
        flag = true;
        if($('#id_talla').val() != '' && isNaN($('#id_talla').val())){
            val_input_danger('La talla del paciente debe ser un valor num&eacute;rico', 'id_talla');
			flag = false;
        }
        if($('#id_peso').val() != '' && isNaN($('#id_peso').val())){
            val_input_danger('El peso del paciente debe ser un valor num&eacute;rico', 'id_peso');
			flag = false;
        }
        if($('#id_presion_art').val() != '' && isNaN($('#id_presion_art').val())){
            val_input_danger('La presi&oacute;n arterial del paciente debe ser un valor num&eacute;rico', 'id_presion_art');
			flag = false;
        }
        if(problema == ''){
            val_input_danger('Debe ingresar la definici&oacute;n del problema', 'id_problema');
			flag = false;
        }if(diagnostico == ''){
            val_input_danger('Debe ingresar el diagn&oacute;stico del paciente', 'id_diagnostico');
			flag = false;
        }if(tratamiento == ''){
            val_input_danger('Debe ingresar el tratamiento recomendado', 'id_tratamiento');
			flag = false;
        }
        if(flag){
			$.ajax({
				type: 'POST',
                url: '{% url "expediente_update" pk=consulta.id %}',
				data: $('#mf').serialize()
			}).done(function (data){
				if(data.type == 'success'){
					$('#msg_form').addClass('alert alert-success');
				}else if(data.type == 'error')
					$('#msg_form').addClass('alert alert-danger');
				$('#msg_form').empty().append(data.msg);
			});
        }
    }
</script>
{% endcompress %}
{% endblock %}