<div class="row" style="margin-bottom:18px">
    <div class="col-6">
        <label for="especialidad_ref">Especialidad *:</label>
        <input type="text" class="form-control" id="id_especialidad_ref" name="especialidad_ref" placeholder="Especialidad del m&eacute;dico"/>
    </div>
    <div class="col-6">
        <label for="medico_ref">Nombre del m&eacute;dico *:</label>
        <input type="text" class="form-control" id="id_medico_ref" name="medico_ref" placeholder="Nombre del m&eacute;dico"/>
    </div>
</div>
<div class="form-group">
    <label for="problema_ref">Definici&oacute;n de problema *:</label>
    <textarea id="id_problema_ref" class="form-control" placeholder="Escriba los diagn&oacute;sticos por los cuales genera la referencia" name="problema_ref"></textarea>
</div>
<div class="form-group">
    <label for="analisis_ref">An&aacute;lisis o raz&oacute;n por la que se hace la referencia *:</label>
    <textarea id="id_analisis_ref" class="form-control" placeholder="An&aacute;lisis de la referencia" name="analisis_ref"></textarea>
</div>
<div class="form-group">
    <button type="button" class="btn-g" id="ref_btn" onclick="save_ref()">Guardar</button>
</div>
<div class="form-group">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">M&eacute;dico</th>
                    <th scope="col">Problema</th>
                    <th scope="col">An&aacute;lisis</th>
                    <th scope="col">Acci&oacute;n</th>
                </tr>
                <tbody style="background:#fff" id="tb_ref">
                </tbody>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="del_ref_div" tabindex="-1" role="dialog" aria-labelledby="deltp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" id="del_div_ref_body"></div>
            <div style="padding-bottom: 10px;padding-right: 15px;text-align: right;">
                <input type="hidden" id="id_ref_del"/>
                <button type="button" class="btn btn-primary" onclick="del_ref_svr()" style="margin-right:10px">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updt_ref_div" tabindex="-1" role="dialog" aria-labelledby="up_ref_tp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actualizaci&oacute;n de referencia m&eacute;dica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="problema_ref">Especialidad m&eacute;dica *:</label>
                    <textarea id="id_especialidad_ref_updt" class="form-control" name="id_especialidad_ref_updt"></textarea>
                </div>
                <div class="form-group">
                    <label for="problema_ref">Nombre del m&eacute;dico *:</label>
                    <textarea id="id_medico_ref_updt" class="form-control" name="id_medico_updt"></textarea>
                </div>
                <div class="form-group">
                    <label for="problema_ref">Definici&oacute;n de problema *:</label>
                    <textarea id="id_problema_ref_updt" class="form-control" name="problema_ref_updt"></textarea>
                </div>
                <div class="form-group">
                    <label for="analisis_ref">An&aacute;lisis o raz&oacute;n por la que se hace la referencia *:</label>
                    <textarea id="id_analisis_ref_updt" class="form-control" name="analisis_ref_updt"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="id_ref_updt" id="id_ref_updt"/>
                    <button type="button" class="btn btn-primary" id="ref_btn" onclick="update_ref()">Actualizar</button>
                </div>
                <div class="form-group">
                    <div id="msg_update_ref"></div>
                </div>
            </div>
        </div>
    </div>
</div>